<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <script src="./js/login.js"></script>
</head>
<body>
    <h1>Login</h1>
    <!-- Login Form -->
    <form id="login-form">
        <label for="login-email">Email:</label>
        <input type="email" id="login-email" name="email" required>
        <br>
        <label for="login-password">Password:</label>
        <input type="password" id="login-password" name="password" required>
        <br>
        <button type="button" onclick="login()">Login</button>
    </form>

    <div id="error-message" style="color: red; font-weight: bold;"></div>
    
    <script>
        // Check for the "message" parameter in the URL
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get('message');
    
        if (message === 'sessionExpired') {
            document.getElementById('error-message').innerText = 
                'Su sesión ha expirado, favor de iniciar sesión nuevamente.';
        }
    </script>
    
</body>
</html>
